h1 {
    text-align: center;
    margin-bottom: 2%;
    font-family: UnifrakturMaguntia;
    color: grey;

}

img {
    width: 50%;
    height: 30%;
    margin-top: 3%;
    border: solid black;
}

img.baseImage {
    cursor: pointer;
}

.caption {
    margin-top: 1%;
    color: grey;
    font-size: 21px;
    font-family: UnifrakturMaguntia;

}